{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larrondo</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
    <center><h1>Esta es mi pagina</h1></center>
    <hr>
    <ul>
        {% for i in misalumnos %}
        <li> <a href="alumno/{{i.id}}">{{i.nombre}}</a></li>
        

        {% endfor %}
    </ul>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>